<h1>Test 1 component</h1>

<div class="app-container">
  <div class="row content-wrapper">
    <div class="col-sm-12 content1">Book an Appointment</div>
    <div class="col-sm-12 content2">Our Investing Topics</div>
    <div class="col-sm-12 content3">
      Pick a topic, then we'll find a time and time and place
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 btn-container1">
      <button class="btn btn-outline-light td-btn">
        Open a chequing account
      </button>
    </div>
    <div class="col-sm-6 btn-container2">
      <button class="btn btn-outline-light td-btn">
        Open a saving account
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 btn-container1">
      <button class="btn btn-outline-light td-btn">
        Open a U.S. Dollar account
      </button>
    </div>
    <div class="col-sm-6 btn-container2">
      <button class="btn btn-outline-light td-btn">
        Open my everyday banking needs
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 btn-container1">
      <button class="btn btn-outline-light td-btn">Switch to TD</button>
    </div>
    <div class="col-sm-6 btn-container2">
      <button class="btn btn-outline-light td-btn">
        Apply for Overdraft Protection
      </button>
    </div>
  </div>
</div>
